In [0]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#Loading data from the google drive to colab notebook

# Please change the filename as per the location where the file is stored

filename = '/content/drive/My Drive/Packt_Colab/crx.data'

In [5]:
# Loading the data using pandas

credData = pd.read_csv(filename,sep=",",header = None,na_values = "?")
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [6]:
# Changing the Classes to 1 & 0
credData.loc[credData[15] == '+' , 15] = 1
credData.loc[credData[15] == '-' , 15] = 0
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14  15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0   1
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560   1
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824   1
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3   1
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0   1

In [7]:
# Finding number of null values in the data set
credData.isnull().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [9]:
# Printing Shape and data types
print('Shape of raw data set',credData.shape)
print('Data types of data set',credData.dtypes)

Shape of raw data set (690, 16)
Data types of data set 0      object
1     float64
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13    float64
14      int64
15      int64
dtype: object

In [0]:
# Dropping all the rows with na values
newcred = credData.dropna(axis = 0)
newcred.shape

(653, 16)

In [0]:
# Verifying no null values exist
newcred.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [0]:
# Seperating the categorical variables to make dummy variables

credCat = pd.get_dummies(newcred[[0,3,4,5,6,8,9,11,12]])
credCat

In [0]:
# Seperating the numerical variables

credNum = newcred[[1,2,7,10,13,14]]
credNum

        1       2       7   10     13     14
0    30.83   0.000   1.250   1  202.0      0
1    58.67   4.460   3.040   6   43.0    560
2    24.50   0.500   1.500   0  280.0    824
3    27.83   1.540   3.750   5  100.0      3
4    20.17   5.625   1.710   0  120.0      0
5    32.08   4.000   2.500   0  360.0      0
6    33.17   1.040   6.500   0  164.0  31285
7    22.92  11.585   0.040   0   80.0   1349
8    54.42   0.500   3.960   0  180.0    314
9    42.50   4.915   3.165   0   52.0   1442
10   22.08   0.830   2.165   0  128.0      0
11   29.92   1.835   4.335   0  260.0    200
12   38.25   6.000   1.000   0    0.0      0
13   48.08   6.040   0.040   0    0.0   2690
14   45.83  10.500   5.000   7    0.0      0
15   36.67   4.415   0.250  10  320.0      0
16   28.25   0.875   0.960   3  396.0      0
17   23.25   5.875   3.170  10  120.0    245
18   21.83   0.250   0.665   0    0.0      0
19   19.17   8.585   0.750   7   96.0      0
20   25.00  11.250   2.500  17  200.0   1208
21   23.25   1.000   0.835   0  300.0      0
22   47.75   8.000   7.875   6    0.0   1260
23   27.42  14.500   3.085   1  120.0     11
24   41.17   6.500   0.500   3  145.0      0
25   15.83   0.585   1.500   2  100.0      0
26   47.00  13.000   5.165   9    0.0      0
27   56.58  18.500  15.000  17    0.0      0
28   57.42   8.500   7.000   3    0.0      0
29   42.08   1.040   5.000   6  500.0  10000
..     ...     ...     ...  ..    ...    ...
659  28.58   3.750   0.250   1   40.0    154
660  22.25   9.000   0.085   0    0.0      0
661  29.83   3.500   0.165   0  216.0      0
662  23.50   1.500   0.875   0  160.0      0
663  32.08   4.000   1.500   0  120.0      0
664  31.08   1.500   0.040   0  160.0      0
665  31.83   0.040   0.040   0    0.0      0
666  21.75  11.750   0.250   0  180.0      0
667  17.92   0.540   1.750   1   80.0      5
668  30.33   0.500   0.085   0  252.0      0
669  51.83   2.040   1.500   0  120.0      1
670  47.17   5.835   5.500   0  465.0    150
671  25.83  12.835   0.500   0    0.0      2
672  50.25   0.835   0.500   0  240.0    117
674  37.33   2.500   0.210   0  260.0    246
675  41.58   1.040   0.665   0  240.0    237
676  30.58  10.665   0.085  12  129.0      3
677  19.42   7.250   0.040   1  100.0      1
678  17.92  10.210   0.000   0    0.0     50
679  20.08   1.250   0.000   0    0.0      0
680  19.50   0.290   0.290   0  280.0    364
681  27.83   1.000   3.000   0  176.0    537
682  17.08   3.290   0.335   0  140.0      2
683  36.42   0.750   0.585   0  240.0      3
684  40.58   3.290   3.500   0  400.0      0
685  21.08  10.085   1.250   0  260.0      0
686  22.67   0.750   2.000   2  200.0    394
687  25.25  13.500   2.000   1  200.0      1
688  17.92   0.205   0.040   0  280.0    750
689  35.00   3.375   8.290   0    0.0      0

[653 rows x 6 columns]

In [0]:
# Making the X variable which is a concatenation of categorical and numerical data

X = pd.concat([credCat,credNum],axis = 1)
print(X.shape)

# Seperating the label as y variable
y = newcred[15]
print(y.shape)

(653, 46)
(653,)

In [0]:
# Normalising the data sets
# Import library function
from sklearn import preprocessing
# Creating the scaling function
minmaxScaler = preprocessing.MinMaxScaler()
# Transforming with the scaler function
X_tran = pd.DataFrame(minmaxScaler.fit_transform(X))
# Printing the output
X_tran.head()

    0    1    2    3    4   ...        41        42        43      44       45
0  0.0  1.0  0.0  1.0  0.0  ...  0.000000  0.043860  0.014925  0.1010  0.00000
1  1.0  0.0  0.0  1.0  0.0  ...  0.159286  0.106667  0.089552  0.0215  0.00560
2  1.0  0.0  0.0  1.0  0.0  ...  0.017857  0.052632  0.000000  0.1400  0.00824
3  0.0  1.0  0.0  1.0  0.0  ...  0.055000  0.131579  0.074627  0.0500  0.00003
4  0.0  1.0  0.0  1.0  0.0  ...  0.200893  0.060000  0.000000  0.0600  0.00000

[5 rows x 46 columns]

In [0]:
from sklearn.model_selection import train_test_split

# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_tran, y, test_size=0.3, random_state=123)