In [0]:
# Importing necessary packages
import pandas as pd
import numpy as np
import altair as alt

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter03/bank-full.csv'
bankData = pd.read_csv(file_url, sep=";")

In [3]:
# Normalising data
from sklearn import preprocessing
x = bankData[['balance']].values.astype(float)
# Creating the scaling function
minmaxScaler = preprocessing.MinMaxScaler()
# Transforming the balance data by normalising it with minmaxScalre
bankData['balanceTran'] = minmaxScaler.fit_transform(x)
# Printing the head of the data
bankData.head()

   age           job  marital  education  ... previous  poutcome   y balanceTran
0   58    management  married   tertiary  ...        0   unknown  no    0.092259
1   44    technician   single  secondary  ...        0   unknown  no    0.073067
2   33  entrepreneur  married  secondary  ...        0   unknown  no    0.072822
3   47   blue-collar  married    unknown  ...        0   unknown  no    0.086476
4   33       unknown   single    unknown  ...        0   unknown  no    0.072812

[5 rows x 18 columns]

In [0]:
# Adding a small numerical constant to eliminate 0 values

bankData['balanceTran'] = bankData['balanceTran'] + 0.00001

In [6]:
# Let us transform values for loan data
bankData['loanTran'] = 1
# Giving a weight of 5 if there is no loan
bankData.loc[bankData['loan'] == 'no', 'loanTran'] = 5
bankData.head()

   age           job  marital  education  ... poutcome   y balanceTran loanTran
0   58    management  married   tertiary  ...  unknown  no    0.092269        5
1   44    technician   single  secondary  ...  unknown  no    0.073077        5
2   33  entrepreneur  married  secondary  ...  unknown  no    0.072832        1
3   47   blue-collar  married    unknown  ...  unknown  no    0.086486        5
4   33       unknown   single    unknown  ...  unknown  no    0.072822        5

[5 rows x 19 columns]

In [7]:
# Let us transform values for Housing data
bankData['houseTran'] = 5
# Giving a weight of 1 if the customer has a house
bankData.loc[bankData['housing'] == 'no', 'houseTran'] = 1

bankData.head()

   age           job  marital  education  ...   y  balanceTran loanTran houseTran
0   58    management  married   tertiary  ...  no     0.092269        5         5
1   44    technician   single  secondary  ...  no     0.073077        5         5
2   33  entrepreneur  married  secondary  ...  no     0.072832        1         5
3   47   blue-collar  married    unknown  ...  no     0.086486        5         5
4   33       unknown   single    unknown  ...  no     0.072822        5         1

[5 rows x 20 columns]

In [8]:
# Let us now create the new variable which is a product of all these
bankData['assetIndex'] = bankData['balanceTran'] * bankData['loanTran'] * bankData['houseTran']
bankData.head()

   age           job  marital  ... loanTran houseTran  assetIndex
0   58    management  married  ...        5         5    2.306734
1   44    technician   single  ...        5         5    1.826916
2   33  entrepreneur  married  ...        1         5    0.364158
3   47   blue-collar  married  ...        5         5    2.162153
4   33       unknown   single  ...        5         1    0.364112

[5 rows x 21 columns]

In [11]:
# Finding the quantile
np.quantile(bankData['assetIndex'],[0.25,0.5,0.75])

array([0.37668646, 0.56920367, 1.9027249 ])

In [12]:
# Creating quantiles from the assetindex data
bankData['assetClass'] = 'Quant1'

bankData.loc[(bankData['assetIndex'] > 0.38) & (bankData['assetIndex'] < 0.57), 'assetClass'] = 'Quant2'

bankData.loc[(bankData['assetIndex'] > 0.57) & (bankData['assetIndex'] < 1.9), 'assetClass'] = 'Quant3'

bankData.loc[bankData['assetIndex'] > 1.9, 'assetClass'] = 'Quant4'

bankData.head()

   age           job  marital  ... houseTran assetIndex  assetClass
0   58    management  married  ...         5   2.306734      Quant4
1   44    technician   single  ...         5   1.826916      Quant3
2   33  entrepreneur  married  ...         5   0.364158      Quant1
3   47   blue-collar  married  ...         5   2.162153      Quant4
4   33       unknown   single  ...         1   0.364112      Quant1

[5 rows x 22 columns]

In [0]:
# Calculating total of each asset class
assetTot = bankData.groupby('assetClass')['y'].agg(assetTot='count').reset_index()
# Calculating the category wise counts
assetProp = bankData.groupby(['assetClass', 'y'])['y'].agg(assetCat='count').reset_index()

In [21]:
# Merging both the data frames
assetComb = pd.merge(assetProp, assetTot, on=['assetClass'])
assetComb['catProp'] = (assetComb.assetCat / assetComb.assetTot)*100
assetComb

  assetClass    y  assetCat  assetTot    catProp
0     Quant1   no     10921     12212  89.428431
1     Quant1  yes      1291     12212  10.571569
2     Quant2   no      8436     10400  81.115385
3     Quant2  yes      1964     10400  18.884615
4     Quant3   no     10144     11121  91.214819
5     Quant3  yes       977     11121   8.785181
6     Quant4   no     10421     11478  90.791079
7     Quant4  yes      1057     11478   9.208921

In [0]:
# Categorical variables, removing loan and housing
bankCat1 = pd.get_dummies(bankData[['job','marital','education','default','contact','month','poutcome']])

In [23]:
bankNum1 = bankData[['age','day','duration','campaign','pdays','previous','assetIndex']]
bankNum1.head()

   age  day  duration  campaign  pdays  previous  assetIndex
0   58    5       261         1     -1         0    2.306734
1   44    5       151         1     -1         0    1.826916
2   33    5        76         1     -1         0    0.364158
3   47    5        92         1     -1         0    2.162153
4   33    5       198         1     -1         0    0.364112

In [0]:
# Normalise some of the numerical variables
from sklearn import preprocessing

In [0]:
# Creating the scaling function
minmaxScaler = preprocessing.MinMaxScaler()

In [0]:
# Creating the transformation variables
ageT1 = bankNum1[['age']].values.astype(float)
dayT1 = bankNum1[['day']].values.astype(float)
durT1 = bankNum1[['duration']].values.astype(float)

In [27]:
# Transforming the balance data by normalising it with minmaxScalre
bankNum1['ageTran'] = minmaxScaler.fit_transform(ageT1)
bankNum1['dayTran'] = minmaxScaler.fit_transform(dayT1)
bankNum1['durTran'] = minmaxScaler.fit_transform(durT1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
# Let us create a new numerical variable by selecting the transformed variables
bankNum2 = bankNum1[['ageTran','dayTran','durTran','campaign','pdays','previous','assetIndex']]

# Printing the head of the data
bankNum2.head()

    ageTran   dayTran   durTran  campaign  pdays  previous  assetIndex
0  0.519481  0.133333  0.053070         1     -1         0    2.306734
1  0.337662  0.133333  0.030704         1     -1         0    1.826916
2  0.194805  0.133333  0.015453         1     -1         0    0.364158
3  0.376623  0.133333  0.018707         1     -1         0    2.162153
4  0.194805  0.133333  0.040260         1     -1         0    0.364112

In [29]:
# Preparing the X variables
X = pd.concat([bankCat1, bankNum2], axis=1)
print(X.shape)
# Preparing the Y variable
Y = bankData['y']
print(Y.shape)
X.head()

(45211, 47)
(45211,)

   job_admin.  job_blue-collar  job_entrepreneur  ...  pdays  previous  assetIndex
0           0                0                 0  ...     -1         0    2.306734
1           0                0                 0  ...     -1         0    1.826916
2           0                0                 1  ...     -1         0    0.364158
3           0                1                 0  ...     -1         0    2.162153
4           0                0                 0  ...     -1         0    0.364112

[5 rows x 47 columns]

In [0]:

from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

In [31]:
from sklearn.linear_model import LogisticRegression
# Defining the LogisticRegression function
bankModel = LogisticRegression()
bankModel.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
pred = bankModel.predict(X_test)
print('Accuracy of Logisticr regression model prediction on test set: {:.2f}'.format(bankModel.score(X_test, y_test)))

Accuracy of Logisticr regression model prediction on test set: 0.90

In [33]:
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)

[[11748   250]
 [ 1102   464]]

In [34]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          no       0.91      0.98      0.95     11998
         yes       0.65      0.30      0.41      1566

    accuracy                           0.90     13564
   macro avg       0.78      0.64      0.68     13564
weighted avg       0.88      0.90      0.88     13564